<h2>Adoption Application</h2>

<form class="form adoption-form">
  <div class="form-app">
    <label for="email">email:</label>
    <input class="form-input" type="text" id="email" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src=""></script>