

<div class="edit-application-container">
  <h2>
    Adoption Application
  </h2>
  <form class="edit-application-form">
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" />
    </div>
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" />
    </div>
    <div>
      <label for="address">Address:</label>
      {{!-- address is in quotes to allow for spaces in address string --}}
      <input type="text" id="address" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" value={{email}} />
    </div>
    <div>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone"/>
    </div>
    <div>
      <input
        type="checkbox"
        id="previous_adopter"
        name="previous_adopter"
        value="true"
      />
      <label for="previous_adopter">
        Check box if you have adopted from us before.
      </label>
    </div>
    <div>
      <label for="pets_owned">
      List all pets you have owned, or currently own:
      </label>
      <textarea id="pets_owned" name="pets_owned"></textarea>
    </div>

    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-application.js"></script>