

{{!--Pulls dog info from db to display in cards--}}
{{#each dogs}}
<div class="container2">
<p class="card-text">{{name}}</p>
    <div class="card" id="card2" style="width: 18rem;">
    <img class="card-img-top" src="/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">{{description}}</p>
        </div>
    </div>
{{/each}}
</div>
</div>