{{!--Filtered Search feature to narrow down available dogs--}}
<div class="container">
    <div class="row">
    <div class="col-md-12">

{{!--Need to remove drop-down feature--}}
    <div class="input-group" id="boot-search-box">
    <input type="text"  placeholder="Enter name of dog, or leave blank" />
    <div class="input-group-btn">
    <button type="button" class="btn-default" {{!--data-toggle="dropdown"--}} aria-expanded="false">
    <span class="caret"></span></button>

    <form class="form-horizontal" role="form">

    <div class="form-group">
        <label for="filter">Age:</label>
    <select class="form-control">
        <option value="catalogue">All ages</option>
        <option value="modal">Puppy</option>
        <option value="price">Adult</option>
        <option value="popular">Senior</option>
    </select>
</div>

<div class="form-group">
<label for="contain">Breed:</label>
    <input class="form-control" type="text" />
</div>
<div class="form-group">
    <label for="contain">Current Location:</label>
    <div class="checkbox">
  <label>
    <input type="checkbox" value="shelter">
    Shelter
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="foster-home">
    Foster Home
  </label>
</div>
<div class="form-group">
    <label for="contain">Size:</label>
    <select class="form-group">
        <option value="catalogue">Any size</option>
        <option value="modal">Small</option>
        <option value="price">Medium</option>
        <option value="popular">Large</option>
    </select>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" value="friendly-kids">
    Good with children.
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" value="friendly-animals">
    Good with other animals.
  </label>
</div>
<button type="button" class="btn-search">Find Your New Best Friend</button>
</div>
</div>
</div>

</div>

</div>

</div>


{{#each seedData}}
<div class="container2">
<p class="card-text">{{name}}</p>
    <div class="card" id="card2" style="width: 18rem;">
    <img class="card-img-top" src="/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
        <div class="card-body">
         <p class="card-text">{{description}}</p>
        </div>
    </div>
{{/each}}
</div>
</div>