

<div class="card" id="card1" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
        {{#each dog. as |painting|}}
        {{/each}}
        </p>
  </div>
</div>
<div class="card" id="card2" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Dog info</p>
  </div>
</div>
<div class="card" id="card3" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Dog info</p>
  </div>
</div>
<div class="card" id="card4" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Dog info</p>
  </div>
</div>
<div class="card" id="card5" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Dog info</p>
  </div>
</div>
<div class="card" id="card6" style="width: 18rem;">
  <img class="card-img-top" src="/public/images/BerneseMountDog_Project2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Dog info</p>
  </div>
</div>
