body {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size:x-large;
    color: rgb(9, 43, 81);
    margin: 0;
    background-image: linear-gradient(to bottom right,#d9b9ca, #679cc7, #9ec1de,#d9b9ca);
    
}

.page-links {
    background-color:rgb(210, 223, 238);
    border: 5px solid rgb(30, 97, 164);
    margin: 3px;
    padding: 3px;
    color: gray;
    justify-content: center;
}

.card {
    justify-content: center;
    padding: 12px;
}

/* .container {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: grey;
    display: blockS;
    justify-content: center;
} */
/* 

.g-col-6 {
    width: 288px;
    display: wrap;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;  
    justify-content: space-evenly;
    text-align: center;
}

.container-main {
    width: 200px;
}

/* .card2 {
    justify-content: center;

} */

/* @media screen and (max-width: 1200px) and (min-width: 200px) {
    .page-links {
        font-size: 75%;
        float:inline-start;
        display: wrap;
        flex-wrap: wrap;
        text-align: justify;
        padding: 0;
        text-decoration: none;
        }
} */

/* .main-layout {
    display: flex;
    flex-wrap: wrap;
}
.grid-text-center .g-col-6 {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
