body {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size:x-large;
    color: rgb(9, 43, 81);
    margin: 0;
    background-image: linear-gradient(to bottom right,#d9b9ca, #679cc7, #9ec1de,#d9b9ca);
    
}

.page-links {
    background-color:rgb(210, 223, 238);
    border: 5px solid rgb(30, 97, 164);
    margin: 3px;
    padding: 3px;
    color: gray;
    justify-content: center;
}

.card {
    justify-content: center;
    padding: 12px;
}

