body {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size:x-large;
    color:white;
    margin: 0;
    background-image: linear-gradient(to bottom right,#d9b9ca, #679cc7, #9ec1de,#d9b9ca);
    
}

.page-links {
    background-color:rgb(210, 223, 238);
    border: 5px solid rgb(30, 97, 164);
    margin: 3px;
    padding: 3px;
    color: gray;
    justify-content: space-around;
}

.card {
    justify-content: center;
    padding: 12px;
}

.container {
    background-color: rgb(30, 97, 164);
    border: 5px solid white;
    justify-content: center;
}

.forms {
    margin: auto;
    margin-top: 10%;
    width: 60%;
    padding: 12px;
    background-color: rgb(30, 97, 164);
    border: 5px solid white;
    display:grid;
    justify-content: center;
}

.welcome {
    margin:25px;
    text-align: center;
}

.col-md-2 {
    margin: auto;
    padding: 8px;
    display: grid;
    justify-content: center;
}

.homescreen {
    margin: auto;
    padding: 20px;
    width: 50%;
    display: grid;
    justify-content: center;
}